<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card">
			<img src="software.jpg" alt="soft-antivirus"class="card-img-top" >
			<div class="card-body">
				<p>
					antivirus Panda 2016
				</p>
			</div>
			<div class="card-footer">

			<form action="/checkout" method="POST">
  				<script
  				  src="https://checkout.stripe.com/checkout.js"
  				  class="stripe-button"  
  				  data-key="pk_test_Qcm0GrHqsfZq5yLVQTv77Xy100JtHBU7Uf"
  				  data-name="Custom t-shirt"
   				 data-description="antivirus"
   				 data-amount="4000"
   				 data-image="/logo.jpg"
   				 data-currency="usd">
 				 </script>
  		<script>
  			document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
  		</script>

  <button class="btn btn-dark btn-block">
					Buy <i class="fas fa-shopping-cart"></i>
	</button>
</form>

				
			</div>
		</div>
	</div>
</div>